@model CapaEntidades.entCliente

@{
    ViewBag.Title = "Editar Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar Cliente</h2>

<div class="col-lg-6">
    <div class="card">
        <div class="card-header">Formulario</div>
        <div class="card-body card-block">
            @if (ViewBag.mensaje != null)
            {
                <div class="alert alert-danger">@ViewBag.mensaje</div>
            }
            <form action="@Url.Action("Editar", "Cliente")" method="post" class="">
                <!-- Campo oculto para el ID del cliente -->
                @Html.HiddenFor(m => m.idCliente)

                <!-- Nombres -->
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </div>
                        <input type="text" id="txtNombres" name="txtNombres" placeholder="Nombres" class="form-control" value="@Model.nombres" required>
                    </div>
                </div>

                <!-- Apellidos -->
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </div>
                        <input type="text" id="txtApellidos" name="txtApellidos" placeholder="Apellidos" class="form-control" value="@Model.apellidos" required>
                    </div>
                </div>

                <!-- DNI -->
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-asterisk"></i>
                        </div>
                        <input type="number" id="txtDni" name="txtDni" placeholder="DNI" class="form-control" value="@Model.dni" required>
                    </div>
                </div>

                <!-- Teléfono -->
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-mobile-phone"></i>
                        </div>
                        <input type="text" id="txtTelefono" name="txtTelefono" placeholder="Teléfono" class="form-control" value="@Model.telefono">
                    </div>
                </div>

                <!-- Correo Electrónico -->
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-mail-forward"></i>
                        </div>
                        <input type="email" id="txtEmail" name="txtEmail" placeholder="Correo Electrónico" class="form-control" value="@Model.email" required>
                    </div>
                </div>

                <!-- Botones de acción -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-success btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Aceptar
                    </button>
                    <a href="@Url.Action("Lista", "Cliente")" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i> Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
